body{
	margin: 0px;
	text-align: center;
	line-height: 2;
}
 
h1{
	margin-top: 50px auto 0 auto;
	/*when you are using width as percentage then you should use auto to center the elements
	automatically. also "0 auto" = top bottom 0 margin left right 
	auto 0 auto 0 auto would mean top margin =0, right = auto, bottom= 0 and left=auto*/
	font-family: 'Pacifico','Langar', cursive;
	font-size: 5rem;/*16px=100%=1em*/
	color: #66BFBF;
}
h2{
	font-family: 'Special Elite', cursive;
	font-size: 2.5rem;
	color: #66BFBF;
}
h3{
	font-family: 'Langar' ;
	color: #11999E;
}
p{
	margin: 0;
	font-family: 'Special ELite', sans-serif;
	font-weight: 2px;
}
a{
	color: #11999E;
}

.top-container{
	background-color: #dff8f4;
	padding-top: 100px ;
	position: relative;
	
}

.middle-container{
	
}

.bottom-container{

}
.cloud1{
	position: absolute;
	top: 50px;
	right:  300px;
}
.cloud2{
	position: absolute;
	left:  300px;
	bottom:  300px;
}
.mypic{
	width:  10%;
}

.writing-gif{
	width: 10%;
}
.programing{
	width: 10%;
}
.skill-row{
	display: inline;
}
#bio{
	font-weight: normal;
}

